APIKey*
test*
horoscope
wget-log*
ListMD/notesList
ListMD/notesText
weather/icons/current/day1.png
weather/icons/current/day2.png
weather/weatherDat
weather/weatherDailyDat
weather/icons/current/day3.png
weather/icons/current/day4.png
weather/icons/current/day5.png
weather/icons/current/day6.png
weather/icons/current/day7.png
weather/icons/current/hour1.png
weather/icons/current/hour2.png
weather/icons/current/hour3.png
weather/icons/current/currentIcon.png
ListMD/hwText
